{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}


<div class="content-section" style="width: 100px;
height: 300px;
position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
margin: auto;">

    <form method="POST" novalidate>
        {% csrf_token %}

        <div class="fieldWrapper">
            {{ form.patient_id | as_crispy_field }}
        </div>
        <br/>

        <div class="fieldWrapper">
            {{ form.inquirer | as_crispy_field }}
        </div>
        <br/>
        <div class="fieldWrapper">
            {{ form.data_requested | as_crispy_field }}
        </div>
        
        <br/>
        <div class="fieldWrapper">
            {{ form.emergency_request | as_crispy_field }}
        </div>

        <br/>

<br>
<div class="form-group">
    <button class="btn btn-outline-info" type="submit" name="submitentry">SUBMIT</button>
</div>

</form>

</div>




{% endblock content %}
